/* Estilos para el Header */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 20px 30px; */
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    max-height: 95px;
}

.logo h1 {
    /* margin: auto; */
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.desktop-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.desktop-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

.desktop-menu a:hover {
    color: #059669;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #059669;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mobile-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    width: 250px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.mobile-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-menu li {
    margin: 15px 0;
}

.mobile-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.mobile-menu a:hover {
    color: #059669;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: block;
    }
}

@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }
}